.Home-page {
  height: 828px;
  width: 100%;
  background-image: url(../assets/images/Home-page.png);
  position: relative;
  background-size: cover;
}
.black-back {
  width: 100%;
  height: 828px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #00000054;
}
.content-home {
  width: 100%;
  height: 828px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 280px 0px 0px 0px;
}
.home-button-style {
  background-color: #d4faea !important;
  color: #113d3c !important;
  font-weight: 700;
  font-size: 20px;
  padding: 15px 0px 15px 0px;
  border-radius: 40px;
  text-align: center;
  width: 100%;
  margin-top: 3rem;
}
.white-line {
  width: 100%;
  height: 1px;
  background-color: #f0f9f56b;
  margin-top: 70px;
}
.white-line-vertical {
  height: 100%;
  width: 1px;
  background-color: #f0f9f56b;
}
.color-white {
  color: white;
}
.fs-60px {
  font-size: 60px;
}
.fs-100px {
  font-size: 100px;
}
.fw-400 {
  font-weight: 400;
}
.mt-minus-20 {
  margin-top: -20px;
}
.pb-20px {
  padding-bottom: 20px;
}
.white-line-h {
  display: none;
}
.min-hieght {
  min-height: 220px;
}
@media screen and (max-width: 420px) {
  .Home-page {
    height: 970px;
  }
  .black-back {
    height: 970px;
  }
  .content-home {
    height: 970px;
    padding: 115px 0px 0px 0px;
  }
  .fs-100px {
    font-size: 50px;
  }
  .fs-60px {
    font-size: 30px;
  }
  .home-button-style {
    font-size: 15px;
    margin-top: 2rem;
  }
  .white-line-vertical {
    display: none;
  }
  .white-line {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .white-line-h {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f0f9f56b;
  }
  .col-p-10px {
    padding: 10px;
  }
}
@media screen and (max-width: 576px) and (min-width: 421px) {
  .Home-page {
    height: 900px;
  }
  .black-back {
    height: 900px;
  }
  .content-home {
    height: 900px;
    padding: 115px 0px 0px 0px;
  }
  .white-line-vertical {
    display: none;
  }
  .white-line {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .white-line-h {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f0f9f56b;
  }
  .col-p-10px {
    padding: 10px;
  }
  .fs-100px {
    font-size: 50px;
  }
  .fs-60px {
    font-size: 30px;
  }
  .home-button-style {
    font-size: 15px;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 577px) {
  .Home-page {
    height: 620px;
  }
  .black-back {
    height: 620px;
  }
  .content-home {
    height: 620px;
    padding: 115px 0px 0px 0px;
  }
  .fs-100px {
    font-size: 50px;
  }
  .fs-60px {
    font-size: 30px;
  }
  .home-button-style {
    font-size: 15px;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 992px) and (min-width: 769px) {
  .Home-page {
    height: 560px;
  }
  .black-back {
    height: 560px;
  }
  .content-home {
    height: 560px;
    padding: 115px 0px 0px 0px;
  }
  .fs-100px {
    font-size: 50px;
  }
  .fs-60px {
    font-size: 30px;
  }
  .home-button-style {
    font-size: 15px;
    margin-top: 2rem;
  }
}
